@charset "UTF-8";
#hero {
  background: linear-gradient(rgba(246, 148, 13, 0.2) 15%, rgb(246, 148, 13) 50%), url(/assets/lingefeest_bg_pattern.png) !important;
  background-attachment: fixed;
}

#info {
  background: linear-gradient(135deg, rgba(246, 148, 13, 0.8) 15%, rgba(206, 122, 49, 0.8) 30%, rgba(246, 148, 13, 0.8) 110%), url(/assets/lingefeest_bg_pattern_inverted.png) !important;
  background-attachment: fixed;
  background-color: transparent;
}

h1 {
  margin: 50px 0;
}



.acc-btn {
  color: white;
  cursor: pointer;
  padding: 5px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 0px;
}

.acc-btn:before {
  content: "+";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-faq:before {
  content: "−";
}

.panel {
  color: white;
  padding: 0 36px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel:before {
  content: "−";
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.lineup {
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.lineup-raymon {
  background-image: url(/assets/lineup_raymon_hermans.jpg);
}

.lineup-djs {
  background-image: url(/assets/lineup_lievelings_djs.jpg);
}

.lineup-outsiders {
  background-image: url(/assets/lineup_outsiders.jpg);
}

.lineup-galaga {
  background-image: url(/assets/lineup_galaga.jpg);
}

.lineup-rave-fortuin {
  background-image: url(/assets/lineup_rave_fortuin.jpg);
}

.lineup-john-west {
  background-image: url(/assets/lineup_john_west.jpg);
}

.lineup-buren-brandweer {
  background-image: url(/assets/lineup_buren_brandweer.jpg);
}

.lineup-djs:before {
  content: "De Lievelings DJ's van je Zusjes";
  margin-top: 100px;
}

.lineup-raymon:before {
  content: "Raymon Hermans";
  margin-top: 120px;
}

.lineup-outsiders:before {
  content: "Outsiders";
  margin-top: 136px;
}

.lineup-galaga:before {
  content: "Galaga";
  margin-top: 136px;
}

.lineup-rave-fortuin:before {
  content: "Rave van fortuin";
  margin-top: 136px;
}

.lineup-john-west:before {
  content: "John West";
  margin-top: 136px;
}

.lineup-buren-brandweer:before {
  content: "Buren van de brandweer";
  margin-top: 120px;
}

.lineup:before {
  line-height: 27px;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 25px;
  transform: rotate(2deg);
}

.lineup-blue::before {
  text-shadow: 1px 1px 2px #00aeef, 0 0 1em #00aeef, 0 0 0.2em #00aeef;
}

.lineup-orange::before {
  text-shadow: 1px 1px 2px #f6841f, 0 0 1em #f6841f, 0 0 0.2em #f6841f;
}

.lineup-orange {
  border: solid #f6841f;
  box-shadow: 5px -5px #f6841f;
}

.lineup-blue {
  border: solid #00aeef;
  box-shadow: 5px -5px #00aeef;
}

.lineup-hours {
  color: white;
}

.lineup-hours {
  color: white;
  width: 100%;
  z-index: 10;
  padding-top: 90px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.lineup-multiline {
  padding-top: 50px !important;
}

.lineup-col:hover > .lineup {
  z-index: -1;
  filter: brightness(20%);
}



.lineup-col:hover > p {
  opacity: 1;
}/
